form {
    margin: 20px;
}

.navbar .navbar-brand > img { 
    max-height: 40px; 
}

.userlist * {
    text-align: center;
    margin-bottom: 4px;
}

.userlist {
    list-style: none;
} 

.userlist img {
    height: 120px;
}